body * {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header-bg-color {
  background-color: #182c61;
}

.img-small {
  max-height: 36px;
}
